.banner-container {
    background: #BEBEBE;
}

.output-container,
.submit-wrapper,
.form-container,
.form-wrapper,
.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    border: 1px solid black;
    border-radius: 5px;

    margin: 0.8rem 0 0 0;

    background: rgb(218,226,218);
    background: linear-gradient(90deg, rgba(218,226,218,1) 26%, 
                rgba(199,199,209,1) 100%, rgba(0,255,23,1) 100%); 
    
    padding: 1rem;
}

.upload-field {
    display: grid;
    justify-content: center;
    align-items: center;
}



.button {
  align-items: center;
  border: 1px solid #787878;
  border-radius: 12px;
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121412;
  cursor: pointer;
  display: inline-flex;
  font-family: Inter,sans-serif;
  font-size: 1rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1;
  margin: 0.8rem 0 0 0;
  outline: none;
  padding: 0.8rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  user-select: none;
}

.button:hover {
  box-shadow: #C0C0C0 0 0 0 3px, transparent 0 0 0 0;
}

.output-container {
    padding: 2rem;
}

.output-wrapper {
    width: 35rem;
}

/*TEST COMMENT*/
.output-wrapper p {
    text-align: center;
}

.radio-btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
